<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" style="color:white; font-weight: bold;" href="/">thoughts.4.tots</a>
		</div>
		<div class="navbar-collapse collapse">
			<div id="adminLogin">
			</div>
			<% if (req.session.admin) { %>
					<div class="navbar-right">
						<button id="composePostButton" class="btn btn-xs btn-success">Compose</button>
						<button id="logoutButton" class="btn btn-xs btn-success">Logout</button>
					</div>
			<% } %>
		</div>
	</div>
</div>

<script>
	$("#logoutButton").click(function() {
		$.post('/logout', {}, function() { window.location = "/"; } 
		).fail(function(res) {
			alert("Error: " + res.getResponseHeader("error"));
		});
	});
	$("#composePostButton").click(function() {
		$.post('/post/new', {}, function() { window.location = "/post/new"; } 
		).fail(function(res) {
			alert("Error: " + res.getResponseHeader("error"));
		});
	});
</script>
